version: '3.8'
services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    environment:
      - BOTECOPRO_DB_DSN
    ports:
      - "8000:8000"
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    environment:
      - VITE_API_BASE_URL=http://localhost:8000
      - VITE_API_TOKEN
    ports:
      - "5173:4173"
    depends_on:
      - backend
  db:
    image: mcr.microsoft.com/mssql/server:2022-latest
    environment:
      ACCEPT_EULA: "Y"
      SA_PASSWORD: "YourStrong!Passw0rd"
    volumes:
      - ./backend/src/db/sql:/docker-entrypoint-initdb.d
    ports:
      - "1433:1433"
