# Ignore Git metadata
.git
.gitignore

# Ignore virtual environments
venv/
.env/
.env.*

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore build artifacts
build/
dist/
*.egg-info/
.eggs/

# Ignore IDE/editor folders
.vscode/
.idea/

# Ignore logs and local files
*.log
*.sqlite3

# Ignore coverage reports
htmlcov/
.coverage
coverage.xml

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/
